<!--This page has all the information.-->
<div class = "span-10">
	<h1>About PeeHD.</h1>
</div><!--End Span-10.-->

<div class = "span-24">
	<div class = "span-4 border = 1" >	
		<table>
			<col align="right" />
				<tr valign="top" align="right"><u>What is PeeHD.com?</u></tr>
				<tr valign="top" align="right"><u>Why is PeeHD.com?</u></tr>
				<tr valign="top" align="right"><u>What is special?</u></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
		</table>	
	</div><!--End Span-4.-->
    <div class ="span-20 last">
		<h3>What is PeeHD.com?</h3>
		<p>It is privately owned company, which is started as a fun assignment.  Current big buzz is daily deals.  We started keeping track            of all big guns for the day with good deals.  Their success is your success, your success is our success, and hence, their success is our success.  <br/>So we decided to provide simpler interface for you to browse a lot through a few clicks. We wish you all good experience and not miss a single deal inventually.</p><br>
		
		<h3>Why is PeeHD.com?</h3>
		<p>Name of a site has to be catchy, simple, repeatable, forwardable, discussable, and five letters or less.  PeeHD is very simple.             The name sounds intellectual, and so will be the site.</p><br>  
		
		<h3>What is special?</h3>
		<p>There are multiple websites which does similar things.  This site is more organized and we keep track of big fishes not by size             of the company but the size of the deals they offer.  We also, going to start rating yours dealers and your deals soon.</p><br>
		
		<h3>We hope you enjoy PeeHD.com, visit often!</h3>

		
	</div><!--End Span-20 Last.-->
	
</div><!--End Span-24.-->