<!--This page has all the box lay out for 36 links.-->
<div class = "span-10">
	<!--<h1>Contact Us.</h1>-->
</div><!--End Span-10.-->

<div class = "span-24 box">
	<div class = "span-6" >
		<form id="dummy" action "" method = "get">
			<fieldset>
				<legend>Contact Us</legend>
				  <p>
			          <label for= "input1">Full Name: (Enter full name.)*</label><br>
				      <input type ="text" name ="input 1" id="input1" value ="">
				  </p>
				   <p>
				      <label for= "input2">Email address: (To contact you back.)*</label><br>
				  	  <input type ="text" name ="input 2" id="input2"><br>
				  	</p>
				  	<p>
				      <label for= "input3">Verify Email address: (Will match with Email address.)*</label><br>
				  	  <input type ="text" name ="input 3" id="input3"><br>
				  	</p>
				  	<p>
				  	<label for= "input5">Choose Type</label><br>
				  	  <Select name = "reason" id= "reason">
				  	  	<option value = "1">Site issues.</option>
				  		<option value = "2">Concern about a web page.</option>
				  		<option value = "3">Suggestions.</option>
				  		<option value = "4">Others.</option>
				  	</p>
				  	<p>
				      <label for= "input6">Your comments:</label><br>
				  	  <input type ="text" name ="input 6" id="input6"><br>
				  	</p>
				  	<p>
              			 <label for="input 4">Security Code:</label><br>
             			 <input type="password" id="input 4" name="input4" value="">
            		</p>
				  	<p>
				    	  <input type="submit" value="Submit">
              			  <input type="reset" value="Reset">
				    </p>
		    </fieldset><!--End of form.-->
		</form>
	</div><!--End Span-6.-->
	<div class = "span-10">
        <h3>Daily deals package?</h3>
        <p>We have a great deal hunters' community support. Please give us an opportunity to server you.</p>
        <p>Check out today's deal dashboard!</p>
              
        <h3>Why should I register on peeHD?</h3>
              
        	<p>peeHD not only is a great place to find deals, keep yourself posted, use our intersting offerings! These things are coming to you as you read.</p>
              
        <h3>Having trouble using PeeHD?</h3>
              
                <p>Email PeeHD at <a href="mailto:support@peehd.com">support@peehd.com</a> </p>
        
        <h3>We are hiring:</h3>
              
                <p>Check out <a href="http://peehd.com/jobs">our jobs page</a></p>
              
                <h3>Suggestions</h3>
              
                <p>We are in the development phase. Please send us your suggestion. <a href="mailto:suggestions@peehd.com">suggestions@peehd.com</a></p>
                <h3>Postal Address</h3>
              
                <p>PeeHD Inc.<br/>
                3000 E Sunrise Ave.<br />
                Suite 1325<br />
                Santa Monica, CA.</p>
              

	</div><!--End Span-10.-->
	<div class = "span-7 last">
		<p>Advertisement.</p>
	</div><!--End Span-7.-->
</div ><!--End Span-24.-->