<!--This page has all the box lay out for 36 links.-->
<div class = "span-10">
	<h1>Main page.</h1>
</div><!--End Span-10.-->
<div class= "span-22">
	<div class = "span-10 append-2 box">
		<table border="1">
		<caption>Electronix</caption>
		  <tr>
		    <th>Month</th>
		    <th>Savings</th>
		    <th>Wow</th>
		  </tr>
		  <tr>
		    <td>January</td>
		    <td>$100</td>
		    <td>February</td>
		   </tr>
		   
		   <tr>
		    <td>$200</td>
		    <td>March</td>
		    <td>$300</td>
		  </tr>
		</table>

	</div><!--End Span-10 append 2.-->
	<div class = "span-10 last box">
		<table border="1">
		<caption>Accessories</caption>
		  <tr>
		    <th>Month</th>
		    <th>Savings</th>
		    <th>Wow</th>
		  </tr>
		  <tr>
		    <td>January</td>
		    <td>$100</td>
		    <td>February</td>
		   </tr>
		   
		   <tr>
		    <td>$200</td>
		    <td>March</td>
		    <td>$300</td>
		  </tr>
		</table>
	</div><!--End Span-10 last.-->
	<div class= "span-22">
	<div class = "span-10 append-2 box">
		<table border="1">
		<caption>Sports</caption>
		  <tr>
		    <th>Month</th>
		    <th>Savings</th>
		    <th>Wow</th>
		  </tr>
		  <tr>
		    <td>January</td>
		    <td>$100</td>
		    <td>February</td>
		   </tr>
		   
		   <tr>
		    <td>$200</td>
		    <td>March</td>
		    <td>$300</td>
		  </tr>
		</table>

	</div><!--End Span-10 append 2.-->
	<div class = "span-10 box last">
		<table border="1">
		<caption>Womens</caption>
		  <tr>
		    <th>Month</th>
		    <th>Savings</th>
		    <th>Wow</th>
		  </tr>
		  <tr>
		    <td>January</td>
		    <td>$100</td>
		    <td>February</td>
		   </tr>
		   
		   <tr>
		    <td>$200</td>
		    <td>March</td>
		    <td>$300</td>
		  </tr>
		</table>
	</div><!--End Span-10 last.-->
</div><!--End Span-22.-->
