<!--This page has all the box lay out for 36 links.-->
<div class = "span-10">
	<h1>Main page.</h1>
</div><!--End Span-10.-->
<div class= "span-22">
	<div class = "span-10 append-2 box">
		<table border="2" width="950">
	</table> 
	</div><!--End Span-10 last.-->
</div><!--End Span-22.-->
